.search {
  margin-top: 15px;
}


.search-field-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.search-field-container input {
  padding: 10px;
  width: 300px;
}


.backButton button {
  padding: 10px;
  background-color: rgba(3, 85, 236, .8);
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}
